@import 'normalize.css';
@import "@/sass/color";
@import "@/sass/mixin";
@import "@/sass/pages/pages";
@import "@/sass/component/component";
@import "@/sass/variables";

html {
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  &:hover {
    cursor: pointer;
  }
}
.material-icons-outlined {
  font-size: 1rem;
  &.size-125 {
    font-size: 1.25rem;
  }
  &.size-150 {
    font-size: 1.5rem;
  }
  &.size-175 {
    font-size: 1.75rem;
  }
  &.size-175 {
    font-size: 1.75rem;
  }
  &.size-200 {
    font-size: 2rem;
  }
}

.invisible {
  display: none;
}

.toggle {
  transform: rotate(90deg);
}