.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  &__link {
    display: flex;
    margin-right: 0.5rem;
    list-style: none;
    &::before {
      content: "/";
      font-weight: 700;
      margin-right: 0.5rem;
    }
    &:hover:not(.breadcrumb__link--disable) {
      cursor: pointer;
      color: $mint500;
    }
  }
}