.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  &__link {
    display: flex;
    list-style: none;
    &:hover:not(.breadcrumb__link--disable) {
      cursor: pointer;
      color: $mint500;
    }
  }
  &__separator {
    margin: 0 0.5rem;
  }
}