.header-container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2);
  .header__user-info {
    position: relative;
    margin-left: auto;
    right: 2rem;
    .user-info__username-mark {
      font-weight: 700;
    }
  }
}