@import "@/sass/_variables";

.sidebar-spacer {
  left: 0;
  top: $headerHeight;
  width: 300px;
  height: calc(100vh - #{$headerHeight});
  flex-shrink: 0;
}
.sidebar-container {  
  position: fixed;
  top: $headerHeight;
  width: 300px;
  height: calc(100vh - #{$headerHeight});
  overflow-y: scroll;
  background: $mint100;
  box-sizing: border-box;
  .sidebar__btn-box {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    .sidebar__create-post-btn {
      position: relative;
      right: 0;
      @include _button($mint500, white);
      width: 7rem;
      height: 2rem;
      padding: 0.5rem 1rem;
    }
  }
  .sidebar__item.posts {
    .post {
      display: flex;
      align-items: center;
      padding: 0.25rem 0;
      &:hover {
        cursor: pointer;
        background-color: $mint200;
      }
      &__link {
        text-decoration: none;
        color: black;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &:hover {
          color: $mint500;
        }
      }
      &__toggle-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1rem;
        height: 1rem;
        margin-right: 0.25rem;
        transition: all 0.3s;
        &:hover {
          color: $mint500;
        }
      }
      &__btn-box {
        display: flex;
        align-items: center;
        width: 3rem;
        flex-shrink: 0;
        margin-left: auto;
        .post__create-btn,
        .post__remove-btn {
          font-weight: 200;
          &:hover {
            color:  $red300;
          }
        }
      }
      &__new-button {
        display: flex;
        align-items: center;
      }
    }
    .post-next {
      &__new {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        padding: 0.25rem 0;
        transition: all 0.3s;
        &:hover {
          cursor: pointer;
          background: $mint200;
          color: $mint500;
        }
      }
      &__new-icon {
        margin-right: 0.25rem;
      }
    }
  }
}
