@import "../color";

.sidebar-container {
  position: fixed;
  top: 0;
  width: 300px;
  height: 100vh;
  overflow-y: scroll;
  padding: 1rem;
  background: $mint100;
  .sidebar__item.posts {
    width: 100%;
    .post {
      display: flex;
      align-items: center;
      width: 100%;
      margin: {
        right: auto;
        bottom: 0.5rem;
      }
      &:hover {
        cursor: pointer;
      }
      &__link {
        text-decoration: none;
        color: black;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      &__toggle-btn {
        transition: all 0.3s;
        &:hover {
          color: rgb(255, 145, 0);
        }
      }
      &__remove-btn {
        margin-left: auto;
      }
      &__new-button {
        display: flex;
        align-items: center;
      }
    }
    .post-next {
      padding-left: 1.375rem;
      &__new {
        display: flex;
        align-items: center;
        transition: all 0.3s;
        &:hover {
          cursor: pointer;
          color: rgb(255, 145, 0);
        }
      }
      &__new-icon {
        margin-right: 0.25rem;
      }
    }
  }
}
