@import "@/sass/_variables";

.sidebar-spacer {
  left: 0;
  top: $headerHeight;
  width: 300px;
  height: calc(100vh - #{$headerHeight});
  flex-shrink: 0;
}
.sidebar-container {  
  position: fixed;
  top: $headerHeight;
  width: 300px;
  height: calc(100vh - #{$headerHeight});
  overflow-y: scroll;
  background: $mint100;
  box-sizing: border-box;
  .sidebar__btn-box {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    .sidebar__create-post-btn {
      position: relative;
      right: 0;
      @include _button($mint500, white);
      width: 7rem;
      height: 2rem;
      padding: 0.5rem 1rem;
    }
  }
  .sidebar__item.posts {
    @include _posts();
  }
}
